{% load static %}

<div class="content">
    <div class="book">
        <a href="#"><img src="{% static 'img/books/art/100_let.jpg' %}" class="cover_min" alt="100_let"></a>
        <p class="name">Сто лет одиночества. Габриэль Гарсия Маркес.</p>
        <font>500 рублей</font>
    </div>
    <div class="book">
        <a href="children_focus.html"><img src="{% static 'img/books/children/focus.jpg' %}" class="cover_min" alt="focus"></a>
        <p class="name">Фокусы&nbsp;и&nbsp;игры. Яков&nbsp;Перельман</p>
        <font>350 рублей</font>
    </div>
    <div class="book">
        <a href="education_inform.html"><img src="{% static 'img/books/education/inform.jpg' %}" class="cover_min" alt="inform"></a>
        <p class="name">Информатика. Д.А.&nbsp;Локтев, Д.А.&nbsp;Видьманов.</p>
        <font>470 рублей</font>
    </div>
    <div class="book">
        <a href="self-development_key-for.html"><img src="{% static 'img/books/self-development/key_for.jpg' %}" class="cover_min" alt="key-for"></a>
        <p class="name">Ключи к успеху. Джим Рон.</p>
        <font>559 рублей</font>
    </div>
    <div class="book">
        <a href="art_sleepy_hollow.html"><img src="{% static 'img/books/art/sleepy_hollow.jpg' %}" alt="sleepy_hollow" class="cover_min"></a>
        <p class="name">Сонная лощина. В.Ирвинг.</p>
        <font>500 рублей</font>
    </div>
    <div class="book">
        <a href="art_martin.html"><img src="{% static 'img/books/art/martin.jpg' %}" alt="martin" class="cover_min"></a>
        <p class="name">Мартин Иден. Д.Лондон.</p>
        <font>230 рублей</font>
    </div>
    <div class="book">
        <a href="self-development_voices.html"><img src="{% static 'img/books/self-development/voices.jpg' %}" alt="voices" class="cover_min"></a>
        <p class="name">Зримые голоса. Оливер Сакс.</p>
        <font>375 рублей</font>
    </div>
    <div class="book">
        <a href="self-development_ask.html"><img src="{% static 'img/books/self-development/ask.jpg' %}" alt="ask" class="cover_min"></a>
        <p class="name">Просите - и получите. Пьер&nbsp;Моранси.</p>
        <font>310 рублей</font>
    </div>
    <div class="book">
        <a href="children_sadfunny.html"><img src="{% static 'img/books/children/funny.png' %}" alt="funny" class="cover_min"></a>
        <p class="name">Грустный и Весёлый.</p>
        <font>210 рублей</font>
    </div>
    <div class="book">
        <a href="children_nosov.html"><img src="{% static 'img/books/children/nosov.png' %}" alt="nosov" class="cover_min"></a>
        <p class="name">Незнайка на Луне. Н.Носов.</p>
        <font>220 рублей</font>
    </div>
    <div class="book">
        <a href="education_pedagogy.html"><img src="{% static 'img/books/education/pedagogy.jpg' %}" alt="pedagogy" class="cover_min"></a>
        <p class="name">Общая педагогика. В. Смирнов.</p>
        <font>140 рублей</font>
    </div>
    <div class="book">
        <a href="education_commerce.html"><img src="{% static 'img/books/education/commerce.jpg' %}" alt="commerce" class="cover_min"></a>
        <p class="name">Основы коммерции Г. Яковлев.</p>
        <font>830 рублей</font>
    </div>
</div>