{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page_title|default:'магазин'|title }}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
            <nav>
                <a href="/">Главная</a>
                <a href="/catalog">Каталог</a>
                <a href="/contacts">Контакты</a>
                <a href="#">Войти</a>
                <a href="#">Регистрация</a>
            </nav>
            <div class="header-main">
                <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                <form action="#">
                    <input type="text" placeholder="Введите название книги или автора...">
                    <button type="submit"><img src="{% static 'img/Shape.svg' %}" alt="snape"></button>
                </form>
                <div class="cart">
                    <p>Моя корзина</p>
                    <a href="#"><img src="{% static 'img/cart.svg' %}" alt="cart"></a>
                </div>
            </div>
        {% endblock %}
    </header>

    {% block top %}
    {% endblock %}
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
<footer>
    <div class="footer-up">
        <div class="footer-up_1">
            <a href="#">Доставка</a>
            <a href="#">Оплата</a>
            <a href="#">Часто задаваемые вопросы</a>
        </div>
        <div class="footer-up_2">
            <a href="#">Скидки</a>
            <a href="#">Бонусы</a>
            <a href="#">Карта сайта</a>
        </div>
        <div class="footer-up_3">
            <h3 style="color: #fff">&#9993; Подписка на новости</h3>
            <p>Будьте в курсе наших акций:</p>
            <form action="">
                <input type="text" placeholder="Введите ваш EMAIL...">
                <button type="submit">&#10004;</button>
            </form>
        </div>
    </div>
    <div class="footer-down">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="#" id="last"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <img class="pay" src="{% static 'img/MasterCard.png' %}" alt="mastercard">
        <img class="pay" src="{% static 'img/Visa.png' %}" alt="visa">
    </div>
</footer>
</body>
</html>