{% extends 'mainapp/base.html' %}
{% load static %}


{% block container %}
    <div class="contacts">
        <h2>Книжный интернет-магазин "BOOKS" - адреса, телефоны, контакты.</h2><br>
        <p>Добро пожаловать в книжный интернет-магазин <a href="/">Books</a> ! Мы предлагаем широкий ассортимент книг,
            учебников, открыток по адекватным ценам. Наш интернет-магазин - это всегда огромный ассортимент, быстрая
            доставка и низкие цены.</p><br>
        <img src="{% static 'img/map.PNG' %}" alt="map">
        {% for contact in contacts %}
            <div class="contact">
                <p><b>Адрес: </b>{{ contact.address }}</p>
                <p><b>Телефон: </b>{{ contact.phone }}</p>
                <p><b>EMAIL: </b>{{ contact.email }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
